body{
    background-image: url("./img/digital-background-IT-major.jpg");
    background-size: cover;
    margin: 0;
}

.black-bg{
    height: 100vh;
    background-color: rgba(255, 255, 255, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
}

.title{
    color: papayawhip;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    margin-right: 30px;
}

.title > h1{
    font-size: 65px;
}

.title > h2{
    font-size: 45px;
    color:lightcyan;
}

.profil-img > img{
    width: 345px;
    border-radius: 250px;
    border: none;
}

.navigation{
    border: 5px solid aquamarine;
    border-radius: 30px;
    width: 1100px;
    color: white;
    margin: 75px auto;
    margin-top: 15px;
}

nav > ul > a > li{
    list-style-type: none;
}

nav > ul > a, nav > ul > a:visited{
    color: navy;
    text-decoration: none;
}

nav > ul > a:hover{
    text-decoration: underline;
}

nav > ul{
    display: flex;
    justify-content: space-around;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 36px;
    margin: 16px 0;
    padding: 0px;
}
